/* =======================================
             Common Styles
 ========================================*/
 *{
     margin: 0;
     padding: 0;
 }
html{
    scroll-behavior: smooth;
}
 img{
     width:100% ;
 }
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF ;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 80%;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}
h1{
    font-size: 45px;
    font-weight: 700;
    
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
    font-weight: 300;
}
h5{
    font-size: 14px;
    color: #5E6366;
    display: inline-block;
}
p{
    color:#3A3A3A ;
    display: inline-block;
}

/*===========================================
               Navbar
 ============================================*/
.navbar{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .navbar_nav-2 ul {
     display: flex;
 }
 .navbar_nav-2 ul li {
    list-style:none;
    
 }
 .navbar_nav-2 ul li a{
     color: black;
     text-decoration: none;
     margin: 5px 10px;
     transition: .3s;
 }
 .navbar_nav-2 li:hover a{
     color: rgb(255, 60, 93);
 }

 /* =============================================================
                            First Banner 
 ================================================================*/
 .div_banner{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
.half_banner{
    width: 530px;
    text-align: center;
}
  

 .half_banner .banner_img img {
     width: 304px;
    border-radius:10px;
    background-image: url(/images/Circle\ design.svg);
 }
 .information .btn{
    margin-top: 16.1px;
    display: inline-block;
 }
 .btn{
     display: inline-block;
     margin-top: 30px;
 }
.btn a{
     text-decoration: none;
     color: #ffffff;
     background-color: #E02C6D;
     padding: 10px 24px;
     border-radius: 25px;
     transition: .4s;
 }
.btn:hover a{
     background-color: transparent;
     border: 1px solid black;
     color: black;
 }
 /*================================================
                     Logo Part
 ================================================ */
.logo_part{
     display: grid;
     grid-template-columns: repeat(7,1fr);
     align-items: center;
 }
.logo_part li{
     list-style: none;
     max-width: 50%;
}

 /* ========================================================
                                Article
============================================================= */
.h2_tag{
    text-align: center;
    color: #5E6366;
    margin-bottom: 30px;
}
.all_articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px; 
    justify-content: space-around;
}
.articles{
    width: 270px;
    height: 400px;
    box-shadow: 1px 1px 4px gray;
    padding: 20px;
    border-radius: 5px;
    transition: .5s;
}

.articles .half_article img{
    width: 100%;
}

.half_article .stars li{
    list-style: none;
    display: inline-block;
    color: orange;
}
.articles:hover.articles{
    box-shadow: 8px 8px 20px lightgray;
    transform: translate(0px,5px);
    cursor: pointer;
}
.see_more_btn{
    margin-top: 30px;
    text-align-last:right;
}
.see_more_btn a{
    text-decoration: none;
    color: hotpink;
}
/* ========================================================
                                About Me
============================================================= */
.name{
    font-size: 25px;
}
/* ================================================
                    Footer
============================================= */
footer{
    background-color: #0A0826;
    height: 200px;
}
.footer_items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   text-align: center;
    padding-top: 60px;
}
.footer_items h2, h3 {
    color: white;
}
.social_icons{
    width: 100px;
    display: flex;
    justify-content: space-between;

}
.social_icons li{
    list-style: none;
    align-items: center;
}
.social_icons li a{
    color: white;
}

/* =============================================================
                            Media Quearis
================================================================*/
                    

                            /* Mobile */
@media only screen and (max-width:688px){
   
    .navbar{
        display:block;
    }
    .first_banner{
        grid-template-columns: repeat(1,1fr);
    }
    .half_banner{
        width: 100%;
    }
    .banner_img{
        width: 34px;
    }
    .logo_part{
        grid-template-columns: repeat(4,1fr);
    }
    .all_articles{
   grid-template-columns: repeat(1,1fr);
    }
    .main_banner{
        grid-template-columns: repeat(1,1fr);
    }
}
